<h1>Ambassador Links API V1</h1>
<h2>Description</h2>
<p>
  For the Ambassador code challenge this API provides basic endpoints to save links, 
  display links, count clicks to a link, and delete links.
</p>
<h2>Endpoints</h2>
<h3>Get all links with each link's click count</h3>
<p id='get-all-links'>GET '/api/v1/links'</p>
<p id='all-links'></p>
<button id='all-button' class='hidden'>Hide</button>

<h3>Get individual link with click count - also increments click count</h3>
<p id='get-individual-link'>GET '/api/v1/links/link_name'</p>
<p id='get-individual-link'>Example: GET '/api/v1/links/eagle'</p>
<form>
  <input type='text' placeholder='Enter Link Name'>
  <input type='submit' value='Find Link'>
</form>
<p id='individual-link'></p>
<button id='individual-button' class='hidden'>Hide</button>

<h3>Create new link</h3>
<p id='create-link'>GET '/api/v1/links?link=link_name'</p>
<form>
  <input type='text' placeholder='Enter Link Name'>
  <input type='submit' value='Create Link'>
</form>
<p id='new-link'></p>
<button id='create-button' class='hidden'>Hide</button>

<h3>Delete link</h3>
<p id='delete-link'>DELETE '/api/v1/links?link=link_name'</p>
<form>
  <input type='text' placeholder='Enter Link Name'>
  <input type='submit' value='Delete Link'>
</form>
<p id='delete-link'></p>
<button id='delete-button' class='hidden'>Hide</button>
